<template>
  <div class="about">
    <v-content>
      <h1 class="text-center">This is an about page</h1>
    </v-content>
  </div>
</template>
<script>
export default {
  name: "About",
};
</script>
