<template>
  <v-container>
    <gallery />
  </v-container>
</template>

<script>
import Gallery from "../components/Gallery.vue";
export default {
  components: { Gallery },
  name: "Home",
};
</script>
