<template>
  <div class="lightbox" @click.self="closeLightbox">
    <img :src="photo.image_url" />
    <div class="lightbox-info">
      <div class="lightbox-info-inner">
        {{ photo.description }}
        <small>added by {{ photo.added_by }}</small>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Photo",
  data() {
    return {
      photo: [],
    };
  },

  mounted() {
    fetch(`http://localhost:5000/api/photos/${this.$route.params.id}`).then(
      (res) => res.json().then((json) => (this.photo = json))
    );
  },
};
</script>
<style>
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.lightbox img {
  margin: auto;
  width: 100%;
  grid-column-start: 2;
}
.lightbox-info {
  margin: auto 2rem auto 0;
}
.lightbox-info-inner {
  background-color: #ffffff;
  display: inline-block;
  padding: 2rem;
}
</style>
