<template>
  <v-container>
    <upload-files v-model="files"></upload-files>
  </v-container>
</template>

<script>
import UploadFiles from "../components/media/UploadFiles.vue";

export default {
  name: "Upload",
  components: { UploadFiles },
  data() {
    return {
      files: [],
    };
  },
};
</script>
