<template>
  <v-container>
    <div class="block galleryBlock">
      <h2 class="text-center">Wedding photo gallery</h2>
      <v-row>
        <v-col
          v-for="photo in photos"
          :key="photo.id"
          class="d-flex child-flex"
          cols="3"
        >
          <v-img :src="photo.image_url" aspect-ratio="1" class="grey lighten-2">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
export default {
  name: "Gallery",
  data() {
    return {
      photos: [],
    };
  },
  mounted() {
    fetch("https://weddpics.herokuapp.com/api/photos/").then((res) =>
      res.json().then((json) => (this.photos = json))
    );
  },
};
</script>
