<template>
  <v-container>
    <v-toolbar flat>
      <v-toolbar-title>Weddpics</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn text>
          <router-link to="/about">About</router-link>
        </v-btn>
        <v-btn text>
          <router-link to="/">Gallery</router-link>
        </v-btn>
        <v-btn text>
          <router-link to="/upload">Upload</router-link>
        </v-btn>

        <v-btn text>
          <router-link to="/auth">Authentication</router-link>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </v-container>
</template>

<script>
export default {
  name: "Header",

  data: () => ({}),
};
</script>
