<template>
  <v-main>
    <div v-for="(file, index) in files" :key="index" class="card">
      {{ file.name }}
      {{ file.size }}
      {{ file.type }}
    </div>
  </v-main>
</template>
<script>
export default {
  name: "InputList",
  props: ["items"],
  computed: {
    files() {
      console.log(this.items);
      return this.items;
    },
  },
};
</script>
