<template>
  <v-main>
    <div v-if="currentFile">
      <div>
        <v-progress-linear v-model="progress" color="blue" height="25" reactive>
          <strong>{{ progress }} % </strong>
        </v-progress-linear>
      </div>
    </div>

    <v-row no-gutters justify="center" align="center">
      <v-col cols="5">
        <v-file-input
          show-size
          label="File input"
          @change="selectFile"
        ></v-file-input>
      </v-col>

      <v-col col="5" class="pl-2">
        <v-text-field
          label="Description"
          hint="Optional description of image"
          @change="setDescription"
        ></v-text-field>
      </v-col>

      <v-col cols="2" class="pl-2">
        <v-btn color="success" dark small @click="upload">
          Upload
          <v-icon right dark>mdi-cloud-upload</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-alert v-if="message" border="left" color="blue-grey" dark>
      {{ message }}
    </v-alert>
  </v-main>
</template>
<script>
import UploadService from "../../services/UploadFileService";

export default {
  name: "UploadFiles",
  data() {
    return {
      currentFile: undefined,
      currentDesc: "",
      progress: 0,
      message: "",

      fileInfos: [],
    };
  },
  methods: {
    setDescription(description) {
      this.currentDesc = description;
    },
    selectFile(file) {
      (this.progress = 0), (this.currentFile = file);
    },
    upload() {
      if (!this.currentFile) {
        this.message = "Please select a file!";
        return;
      }
      this.message = "";
      this.currentFile["description"] = this.currentDesc;
      UploadService.upload(this.currentFile, (event) => {
        this.progress = Math.round((100 * event.loaded) / event.total);
      })
        .then((response) => {
          this.message = response.data.message;
          return UploadService.getFiles();
        })
        .then((files) => {
          this.fileInfos = files.data;
        })
        .catch(() => {
          this.progress = 0;
          this.message = "Could not upload the file!";
          this.currentFile = undefined;
        });
    },
  },
  mounted() {
    UploadService.getFiles().then((response) => {
      this.fileInfos = response.data;
    });
  },
};
</script>
