<template>
  <v-app>
    <v-app-bar app flat>
      <Header />
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Header from "./components/Header.vue";
export default {
  components: { Header },
  name: "App",

  data: () => ({
    //
  }),
};
</script>
